@font-face{
    font-family: titulo;
    src: url(../fonts/NotoSansJP.otf);
}
@font-face{
    font-family: texto;
    src: url(../fonts/Montserrat.ttf);
}
.fila{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.z{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.vertical-line{
    width: 2px;
    height: 250px;
    margin-top: 30px;
    background-color: silver;
}
.horizontal-line::after{
    content: '';
    width: auto;
    height: 2px;
    display: block;
    background-color: silver;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}
.cuadro{
    display: flex;
    font-family: texto;
}
.pages{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.tes{
    font-family: titulo;
}
#uni{
    margin-left: 90px;
}
#sbut{
    margin-top: 10px;
}

@media screen and (max-width:800px){
    .fila{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        width: 100%;
    }
    .vertical-line{
        width: 2px;
        height: 100px;
        background-color: silver;
    }
    .horizontal-line::after{
        content: '';
        width: auto;
        height: 2px;
        display: block;
        background-color: silver;
        margin-top: 30px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .z{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        font-weight: 10px;
    }
    h4{
        font-size: 10px;
       
    }
    .cuadro{
        display: flex;
        font-family: texto;
        width: 200px;
        height: auto;

    }
    .pages{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    #uni{
        margin-left: 40px;
    }
  
    #sbut{
        margin-top: 10px;
    }
}